 <!--    هدر سایت-->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="header-content">
                        <div class="header-left">
                            <div class="brand-logo">
                                <a href="index.html">
                                    <img src="images/logo.png" alt="">
                                    <span>بیت بات</span>
                                </a>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="dark-light-toggle" onclick="themeToggle()">
                                <span class="dark"><i class="icofont-moon"></i></span>
                                <span class="light"><i class="icofont-sun-alt"></i></span>
                            </div>
                            <div class="notification dropdown">
                                <div class="notify-bell" data-toggle="dropdown">
                                    <span><i class="icofont-alarm"></i></span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-left notification-list">
                                    <h4>اطلاع رسانی ها</h4>
                                    <div class="lists">
                                        <a href="#" class="">
                                            <div class="d-flex align-items-center">
                                                <span class="ml-3 icon success"><i class="icofont-check"></i></span>
                                                <div>
                                                    <p>حساب با موفقیت ایجاد شد</p>
                                                    <span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="">
                                            <div class="d-flex align-items-center">
                                                <span class="ml-3 icon fail"><i class="icofont-close"></i></span>
                                                <div>
                                                    <p>احراز هویت انجام نشد</p>
                                                    <span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="">
                                            <div class="d-flex align-items-center">
                                                <span class="ml-3 icon success"><i class="icofont-check"></i></span>
                                                <div>
                                                    <p>تاییدیه دستگاه انجام شد</p>
                                                    <span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="">
                                            <div class="d-flex align-items-center">
                                                <span class="ml-3 icon pending"><i class="icofont-warning"></i></span>
                                                <div>
                                                    <p>در انتظار تایید شماره موبایل</p>
                                                    <span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="settings-activity.html">بیشتر <i class="icofont-simple-left"></i></a>

                                    </div>
                                </div>
                            </div>

                            <div class="profile_log dropdown">
                                <div class="user" data-toggle="dropdown">
                                    <span class="thumb"><img src="images/profile/2.png" alt=""></span>
                                    <span class="arrow"><i class="icofont-angle-down"></i></span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-left">
                                    <div class="user-email">
                                        <div class="user">
                                            <span class="thumb"><img src="images/profile/2.png" alt=""></span>
                                            <div class="user-info">
                                                <h5>آرش اسدی</h5>
                                                <span>arash@yahoo.com</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="user-balance">
                                        <div class="available">
                                            <p>موجودی</p>
                                            <span>0.00 BTC</span>
                                        </div>
                                        <div class="total">
                                            <p>کل</p>
                                            <span>0.00 دلار</span>
                                        </div>
                                    </div>
                                    <!--                                    <a href="profile.html" class="dropdown-item">-->
                                    <!--                                        <i class="icofont-ui-user"></i>پروفایل-->
                                    <!--                                    </a>-->
                                    <a href="profile.html" class="dropdown-item">
                                        <i class="icofont-ui-user"></i>بیت بین
                                        <i class="icofont-ui-user"></i>کوکوین
                                    </a>

                                    <a href="settings-profile.html" class="dropdown-item">
                                        <i class="icofont-ui-settings"></i> تنظیمات
                                    </a>
                                    <a href="settings-activity.html" class="dropdown-item">
                                        <i class="icofont-history"></i> نشست های فعال
                                    </a>
                                    <a href="#" onclick="exit()" class="dropdown-item logout">
                                        <i class="icofont-logout"></i> خروج
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    پایان هدر-->